/* BRIGHT ORANGE: #F36C38 */

/* NAV ALWAYS VISIBLE */

.navbar, .navbar-end, .navbar-menu, .navbar-start{
  align-items: stretch;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-item, .navbar-link {
  align-items: center;
  display: flex;
}

/* GRID SPACING */
@media screen and (min-width: 769px){
  .resume-main,
  .resume-person{
    padding-right: 3rem;
  }
}

@media screen and (min-width: 1024px){
  .resume-main,
  .resume-person{
    padding-right: 4rem;
  }
}

@media screen and (min-width: 1408px){
  .container{
    max-width: 1152px;
  }
}

/* CUSTOM */

body{
  font-family: 'Proxima Nova', 'Helvetica' sans-serif;
  font-size: 15.5px;
  color: #333333;
}

@media screen and (min-width: 769px){
  body{

  }
}

@media screen and (min-width: 1024px){
  body{
    font-size: 16px;
  }
}

@media screen and (min-width: 1408px){
  body{
  }
}

a{
  color: #676767;
  border-bottom: 1px dashed #DDDDDD;
}

a:hover, a:active, a:focus{
  color: #F36C38;
  border-bottom: 1px dashed #ffc3ad;
}

h1{
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1.5px;
  color: #F36C38;
  font-size: 1.2rem;
  
  margin-bottom: 1rem;
}

h1 span.person-name{
  color: #333333;
}

h1 span.comma{
  color: #333333;
}

h1 span.person-role{
  display: block;
}

@media screen and (min-width: 1024px){
  h1 span.person-role{
    display: inline;
  }
}


h2{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: #F36C38;
  border-top: 1px solid #FF9167;
  
  font-size: 1.2rem;
  padding-top: 0.25rem;
  margin-bottom: 3rem;
}

h3{
  font-weight: 700;
  color: #F36C38;
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
}

ul.skills li{
  line-height: 1.5;
  padding: 0.35rem 0;
}

ul.skills + h3{
  margin-top: 2rem;
}

ul.skills + h2,
ul.awards + h2{
  margin-top: 4rem;
}

h4{
  margin-bottom: 0.75rem;
  line-height: 1.3;
  font-size: 0.95rem;
}

ul.education > li + li,
ul.awards > li + li{
  margin-top: 1.5rem;
}

ul.education h3,
ul.awards h3{
  margin-bottom: 0;
}

ul.education h4,
ul.awards h4{
  margin-bottom: 0;
}

.highlight{
  font-weight: 700;
}

.comma{
  font-weight: 300;
}

.pipe{
  color: #AAAAAA;
  font-weight: 300;
  font-size: 1.35em;
  line-height: 0.8;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  display: none;
}

@media screen and (min-width: 500px){
  .pipe{
    display: inline;
  }
}

.location{
  display: block;
}

@media screen and (min-width: 500px){
  .location{
    display: inline;
  }
}

ul.experience > li + li{
  margin-top: 3rem;
}

ul.experience-projects{
  list-style-type: disc;
  padding-left: 1.2rem;
}

ul.education-details{
  list-style-type: disc;
  padding-left: 1.2rem;
  margin-top: 0;
}

p{
  margin-bottom: 0.75rem;
}

ul.experience-projects li{
  margin-bottom: 0.75rem;
}

ul.education-details li{
  margin-bottom: 0;
}

.publication{
  /* font-style: italic; */
}

/* SECTIONS */

body{
  border-top: 10px solid #F36C38;
}

@media screen and (min-width: 769px){
  body{
    border-top: 15px solid #F36C38;
  }
}

.resume-header{
  padding: 3.5rem 2rem 0;
}

@media screen and (min-width: 769px){
  .resume-header{
    padding: 5rem 3rem 0;
  }
}

.resume-contact{

}

.resume-contact-columns{
  display: flex;
  flex-flow: row nowrap;
}

@media screen and (min-width: 769px){
  .resume-contact-columns{
    flex-flow: row wrap;
  }
}

.resume-contact ul.nav li,
.resume-nav ul.nav li{
  line-height: 1.2;
  padding: 0.35rem 0;
}

.resume-contact ul.nav li{
  padding-right: 1.5rem;
}

.resume-nav{
  flex: 0 1 35%;
  order: 2;
}

@media screen and (min-width: 769px){
  .resume-nav{
    flex: 0 0 100%;
    order: 1;
  }
}

.resume-contact{
  flex: 1 0 30%;
  order: 1;
}

@media screen and (min-width: 769px){
  .resume-contact{
    flex: 0 0 100%;
    order: 2;
  }
}

.resume-body{
  padding: 2.5rem 2rem;
}

@media screen and (min-width: 769px){
  .resume-body{
    padding: 3.5rem 3rem 5rem;
  }
}

.resume-sidebar{
  margin-top: 2rem;
}

@media screen and (min-width: 769px){
  .resume-sidebar{
    margin-top: 0;
  }
}
